@model IEnumerable<SchoolManagementSystem.Models.Etudiant>

<h2>Liste des Étudiants</h2>

<table>
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var etudiant in Model)
        {
            <tr>
                <td>@etudiant.Prenom</td>
                <td>@etudiant.Nom</td>
                <td>@etudiant.Adresse</td>
                <td>
                    <a href="@Url.Action("Absences", "Etudiant", new { id = etudiant.EtudiantID })">Voir les absences</a>
                </td>
            </tr>
        }
    </tbody>
</table>
